.special {
    color: #d73160;
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.content a {
    color: #555;
}

body article.page .content li p:last-child,
body article.page .content li p:last-child {
    margin-bottom: inherit;
}

body article.page .content > :last-child {
    margin-bottom: 3em;
}

body article.page .big-image .inner .fader {
    display: table;
}

body article.page .big-image .inner .fader .text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    left: initial;
    top: initial;
    position: initial;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
}